# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Tony Ma
	email = tony.ma@purple.telstra.com
[alias]
	st = status
	lg = log --graph --name-status --pretty=format:\"%C(red)%h %C(reset)(%cd) %C(green)%an %Creset%s %C(yellow)%d%Creset\" --date=relative
	hist = log --pretty=format:\"%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%C(reset)\" --date=relative --decorate --all
